---
layout: base
---

{% include 'webring.njk' %}

<div class="markdown">
    {% include 'snippet.njk' %}

    <h2>Kendi webringinizi mi kurmak istiyorsunuz?</h2>
    <p>
        Eğer kendi webringinizi başlatmak istiyorsanız, <a href="https://github.com/usdogu/webring">bu projeyi</a> forklayın
        ve README üzerindeki talimatları takip edin.
    </p>

    {% include 'github.njk' %}
</div>
